.story {
	font-family: utile, sans-serif;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 25px;
	color: black
}

.caption {
	font-size: 12px;
	color: gray;
}

.header {
	font-family: utile, sans-serif;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 12px;
	color: #290016 !important

}

body {
	background-color: white
}

